@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.svgCss {
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  pointer-events: none;
}

.clasic {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
